@using TutorialBuilder
@{
    ViewBag.Title = "Index";
}

@section navbar{
<div class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0" id="startBtn">Start Demo</button>
</div>
    }

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts{
    <script>
        @Html.Tutorial("#startBtn", new List<TutorialStep>()
   {
       new TutorialStep("#exampleFormControlInput1", "Please fill out your email address", "Add your email address"),
       new TutorialStep("#exampleFormControlSelect1", "Select 1 Item", ""),
       new TutorialStep("#exampleFormControlSelect2", "Select a few items from this dropdown", ""),
       new TutorialStep("#exampleFormControlTextarea1", "Add a description of what you are looking for", "Add a Description"),
       new TutorialStep("#submitBtn", "Click submit to place your order!", "Last Step!"),
   })
    </script>
    }